.cover__link{
    color: white;
    min-height: 740px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    background-image: url("/images/__background.jpg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
      
    
    }

.cover__link :after{
    content: "";
    background-color:#2A2C2F;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    transition:opacity ease-in 0.4s;

    
}


.cover__link:hover :after{
    opacity: 0.8;
}


@media screen and (max-width:1024px){
    .cover__link{
        min-height: 640px;
    }
}

@media screen and (max-width:768px){
    .cover__link{
        min-height: 480px;
    }

}

@media screen and (max-width:320px){
    .cover__link{
        min-height: 200px;
    }

}