.intro__subtitle{
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
    margin:40px 0 0;

}

@media screen and (max-width:767px){
    .intro__subtitle{
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;

    }
}