.lead{
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 58px auto 0 auto;
}

@media screen and (max-width:1024px){
    .lead{
        max-width: 928px;
    }

}

@media screen and (max-width:768px){
    .lead{
        max-width: 768px;
    }

}

@media screen and (max-width:320px){
    .lead{
        max-width: 288px;
    }
}