.footer__link{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin:0 18px 0 0;
    color: white;
    text-decoration: none;
    transition: opacity 0.4s ease-in;

}

.footer__link:hover{
    opacity:0.8;        
}

@media screen and (max-width:767px) {
    .footer__link{
        margin: 0 0 32px 5.5%;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0em;


    }

    .footer__link:last-child{
        margin:0 0 48px 5.5%;
    }
}