.intro{
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin:114px auto 0 auto;
}

@media screen and (max-width:1024px){
    .intro{
        max-width: 928px;
    }
}

@media screen and (max-width:768px){
    .intro{
        align-items: center;
    }

}

@media screen and (max-width:320px){
    .intro{
        max-width:288px;
    }
}