.place{
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap:48px 40px;
    grid-template-rows: repeat(2 ,auto);
    grid-template-areas: "title website"
    "image paragraphs";
    
}

.place:nth-child(n+1){
margin-top: 80px;
}

.place > .place__title{
    grid-area: title;
}
.place > .place__website{
    grid-area: website;
}
.place > .place__image{
    grid-area: image;
}
.place > .place__paragraphs{
    grid-area:paragraphs;
}


@media screen and (max-width:1024px){
    .place{
        grid-gap: 48px 32px;
        grid-template-columns: auto 1fr;
    }
}

@media screen and (max-width:768px){
    .place{
        grid-gap: 48px 28px;
        grid-template-columns: auto 1fr;
    }

}

@media screen and (max-width:320px){
    .place{
        display: flex;
        flex-direction: column;
    }
}