.place__url-heading{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #AAAAAA;
    margin:0;

}

@media screen and (max-width:767px) {
    
   .place__url-heading{ 
    line-height: 12px;
    }
}