.place__website{
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:767px) {
    .place__website{
        width: 288px;
        margin-left: 5.5%;
        margin-bottom: 30px;
    }
    
}