.place__website{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width:320px){
.place__website{
    max-width: 288px;
    margin-left: 5.5%;

}
}
